<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transactions</title>
</head>
<body>

<h1>User To User Transaction</h1>

<form method="POST">
    <label>Reciever Username:</label>
    <input type="text" name="username" required>
    
    <label for="amount">Amount:</label>
    <input type="number" name="amount" required>
    
    <button type="submit">Send Money</button>
</form>

{% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}

{% if success %}
    <p style="color: green;">{{ success }}</p>
{% endif %}

<a href="{{ url_for('wallet_view') }}">Back to Wallet</a>

</body>
</html>
